.pokemon-data img {
    height: 250px;
}

.pokemon-data h1 {
    color: #D43710;
}

.pokemon-data h2 {
    color: #D43710;
    font: 40px/60px 'Alfa Slab One', cursive, sans-serif;
}

.pokemon-data h3 {
    color: #D43710;
}